.snakemake/
/work/Master_Project/Snakemake/.ipynb_checkpoints
miniconda3/
__pycache__/
.ipynb_checkpoints/
cache/
bechmark_analysis/
old_output/
new_output/
**/.vscode/
raw_data/
Snakemake/benchmark_analysis/
Snakemake/models/
Snakemake/transfer_learning
ssh/
output
processed_data/
Snakemake/processed_adata/
Snakemake/rules
results/
resources/
data/
Notebooks/*csv
Notebooks/*pkl
*pkl
*h5ad
config.yaml
*tar.gz
Notebooks/plots_paper/
Notebooks/results_dataframes/
processed_data
raw_data
Notebooks/.pybiomart.sqlite
bash_scripts/add_conda_to_path.sh
processed_data/
results_analysis